@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&display=swap");

:root {
  --body-bg: #15161b;
  --body-color: white;
  --button-bg: #1a7993;
  --card-bg: #2c2f37;
  --card-color: white;
  --link-color: white;
}

.light-mode:root {
  --body-bg: aliceblue;
  --body-color: black;
  --button-bg: #da2d2d;
  --link-color: black;
  --card-bg: #f8d5d5;
  --card-color: black;
  --card-color-hover: white;
  --section2-color: white;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  font-family: "Oswald";
  margin: 0;
  padding: 0;
}

/* Header da página */

h1 {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
}

span {
  color: var(--button-bg);
}

.theme-checkbox {
  color: var(--link-color);
  position: absolute;
  right: 0;
  top: 30px;
  margin-right: 22vw;
}

.theme-checkbox i {
  position: relative;
  top: -25px;
  margin-right: 10px;
}

.theme-checkbox input {
  border: none;
  position: relative;
  appearance: none;
  width: 50px;
  height: 25px;
  background-color: #dae2df;
  border-radius: 50px;
  box-shadow: inset 0 0 16px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  transition: .4s;
}

.theme-checkbox input::before {
  content: '';
  width: 25px;
  height: 24px;
  background-color: #edf3f1;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 1.2px;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
  transition: .4s;
}

.theme-checkbox input:checked::before {
  left: 25px;
}

.theme-checkbox input:checked {
  background-color: #3decb1;
}

.display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 70px 80px;
}

.content-1 {
  margin-right: 50px;
  margin-bottom: 30px;
}

header section p {
  font-weight: normal;
  font-size: 18px;
  margin: 0 0 10px;
}

header h2 {
  font-size: 40px;
  margin: 0 0 45px;
  line-height: 45px;
}

header button {
  width: 280px;
  height: 57px;
  font-family: "Oswald";
  background-color: var(--button-bg);
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .8px;
  border-radius: 5px;
  cursor: pointer;
}

.img-1 {
  margin-left: 50px;
}

#couple-01 {
  width: 290px;
  height: auto;
  border-radius: 8px;
}

/* Sessão dos Cards */

.topic {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.cards div {
  margin-left: 40px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 150px;
  background-color: var(--card-bg);
  transition: .4s;
  border-radius: 5px;
}

#first-card {
  margin-left: 0;
}

.cards div:hover {
  color: var(--card-color-hover);
  margin-top: -20px;
  background-color: var(--button-bg);
}

.cards p {
  margin-top: 30px;
  font-size: 15px;
  text-transform: uppercase;
}

.cards i {
  margin-top: 57px;
}

/* Conteúdo 2 */

.topic-2 {
  width: 100%;
  margin-top: 20px;
  background-color: var(--button-bg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.topic-2 article {
  height: 375px;
  margin-left: 120px;
}

.topic-2 img {
  max-width: 250px;
}

.topic-2 h2 {
  color: var(--section2-color);
  text-transform: uppercase;
  font-size: 35px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 15px;
}

.topic-2 p {
  color: var(--section2-color);
  font-size: 20px;
  margin: 0;
  line-height: 30px;
  font-family: "Oswald";
  font-weight: 300;
}

.topic-2 button {
  width: 80%;
  height: 55px;
  margin-top: 35px;
  border: none;
  border-radius: 5px;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}

/* Formulário */

aside {
  margin-top: 80px;
}

aside h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 27px;
}

form {
  align-items: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

input {
  border: 2px #15161b solid;
  width: 35%;
  height: 30px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Oswald";
  text-transform: uppercase;
}

input::placeholder {
  color: #2c2f37;
}

input[type="submit"] {
  border: none;
  background-color: var(--button-bg);
  width: 38%;
  height: 60px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Rodapé */

footer {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

ul {
  margin-right: 30px;
}

li {
  display: inline-block;
  margin-right: 7px;
}

a {
  color: var(--link-color);
}
